*.DS_Store
__pycache__/
env/
env_laptop/
*.pyc
*.pkl
*.p
*clips/
mujoco/mjpro131
gym_tensorflow.so
dump.rdb
redis-4.0.8/
docker
docker-compose
docker-ce-rpm/
docker-cli-rpm/
docker-container-rpm/
docker-selinux-rpm/
.tags
